.lang-change {
  font-size: 3rem;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  border: 1px solid var(--color-border-default);
  background: var(--color-lang-bg);
  color: var(--color-body-txt);
  transition: all 0.3s ease;
  cursor: pointer;
}

.lang-change:hover {
  background: var(--color-header-space);
  transform: translateY(-2px);
}
.lang-change.active {
  background: var(--color-btn-active);
  border-color: var(--color-btn-active);
  color: white;
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.4);
}

.review-btn {
  margin-top: 3rem;
  background: var(--color-btn-disabled);
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  padding: 2rem 5rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 2.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.review-btn:hover:not(:disabled) {
  background: var(--color-btn-active);
  color: white;
  cursor: pointer;
  transform: translateY(-0.2rem);
  box-shadow: 0 4px 15px rgba(34, 197, 94, 0.4);
}

.review-btn:disabled {
  cursor: not-allowed;
}
.modal-actions {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
.btn-cancel {
  background: transparent;
  border: 2px solid var(--color-star-active-first);
  color: var(--color-star-active-first);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-cancel:hover {
  background: var(--color-star-hover-first);
  transform: scale(1.05);
}
/* .btn-cancel {
  background: var(--color-star-active-first);
  border: none;
  color: var(--color-body-bg);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-cancel:hover {
  transform: scale(1.05);
} */
/* .btn-go {
  background: var(--color-btn-active);
  border: none;
  color: var(--color-body-bg);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-go:hover {
  transform: scale(1.05);
} */
.btn-go {
  background: transparent;
  border: 2px solid var(--color-btn-active);
  color: var(--color-btn-active);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-go:hover {
  background: var(--color-star-hover-last);
  transform: scale(1.05);
}
