.layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem auto;
  max-width: 90rem;
  transition: all 0.4s ease;
}
.layout.low-rating {
  flex-direction: column;
  gap: 1.5rem;
}
.stars {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.8rem;
}
.star-icon {
  width: 9rem;
  height: 9rem;
  pointer-events: none;
}
.star {
  font-size: 6rem;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--color-star-default);
  padding: 0;
  transition:
    transform 0.2s,
    color 0.1s;
}
.star:hover {
  transform: scale(1.15);
}
.star.active-first {
  color: var(--color-star-active-first);
}
.star.active-middle {
  color: var(--color-star-active-middle);
}
.star.active-last {
  color: var(--color-star-active-last);
}

.stars:hover .star {
  color: var(--color-star-hover-middle);
}

.stars .star:hover ~ .star {
  color: var(--color-star-default);
}

.stars .star:first-child:hover {
  color: var(--color-star-hover-first);
}

.stars .star:last-child:hover {
  color: var(--color-star-hover-last);
}
.input {
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.4s ease,
    margin 0.5s ease;
}
.layout.low-rating .input {
  opacity: 1;
  max-height: 45rem;
  margin-top: 2rem;
  overflow-y: auto;
}
.review {
  width: 100%;
  font-size: 3rem;
  border-radius: 1rem;
  border: 1px solid var(--color-border-default);
  background: var(--color-input-bg);
  color: var(--color-white);
  resize: none;
  min-height: 10rem;
}
.review:focus {
  outline: 2px solid var(--color-btn-active);
  border-color: transparent;
}
