services:
  backend:
    build: .
    container_name: backend_service
    command: sh -c "npx prisma generate && npx prisma db push && npx prisma db seed && ls -R dist && node dist/src/main.js"
    # command: sh -c "npx prisma generate && npx prisma db push && ls -R dist && node dist/src/main.js"
    environment:
      - DATABASE_URL

    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - my-app-network

  db:
    image: postgres:17-alpine
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - '1415:5432'
    volumes:
      - postgres_data_test:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - my-app-network

  proxy:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - '1414:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    networks:
      - my-app-network

volumes:
  postgres_data_test:

networks:
  my-app-network:
    external: true
