@import "tailwindcss";

@font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Bricolage", sans-serif;
  --color-gray-900: #111827;
  --height-row: 6.25rem;
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: rgb(71 85 105) transparent;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgb(71 85 105);
    border-radius: 4px;
  }

  .h-row {
    height: var(--height-row);
  }
}
